.wrapper
	%h1= "#{@user.first_name}'s #{@list.category} Wishlist"
	%h2= "Balance: #{@list.balance.to_s}"
	.itemscontainer
		-@products.each do |product|
			.image
				%img{:src => product.hero_img_url}
			.info
				%span.name= product.name
				%span.brand= product.brand
				%span.price= "$#{product.price}"
			.clr
	.clr
	%form{:action => "https://www.sandbox.paypal.com/cgi-bin/webscr", :method => "post"}
		%input{:name => "cmd", :type => "hidden", :value => "_donations"}
		%input{:name => "business", :type => "hidden", :value => "cooper_1346389188_biz@susteen.com"}
		%input{:name => "lc", :type => "hidden", :value => "US"}
		%input{:name => "upload", :type => "hidden", :value => "1"}
		%input{:name => "custom", :type => "hidden", :value => @list.id}
		%input{:name => "notify_url", :type => "hidden", :value => "http://#{request.host}/payment_notifications"}
		%input{:name => "return_url", :type => "hidden", :value => "http://#{request.host}/lists/#{@list.id}"}
		%input{:name => "item_name", :type => "hidden", :value => "Sho Mo Love Wishlist"}
		%input{:name => "no_note", :type => "hidden", :value => "0"}
		%input{:name => "currency_code", :type => "hidden", :value => "USD"}
		%input{:name => "bn", :type => "hidden", :value => "PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest"}
		%button#donate{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :type => "submit" } Donate
		%img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}
	%a.twitter-share-button{"data-text" => "Checkout my wishlist", "data-url" => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", "data-via" => "shomolove", :href => "https://twitter.com/share"} Tweet
	= link_to image_tag('fb-share.png'), @share_fb