%head
	%meta{:property => "fb:app_id", :content => ENV["FACEBOOK_APP_ID"]}
	%meta{:property => "og:site_name", :content => "ShoMoLove"}
	%meta{:property => "og:type", :content => "smlwishlist:wishlist"}
	%meta{:property => "og:title", :content => @list.category}
	%meta{:property => "og:url", :content => "http://#{request.host}/lists/#{@list.id}"}
	%meta{:property => "og:image", :content => @products.first.hero_img_url}
.wrapper
	%h1 Review Your Wishlist
	.itemscontainer
		-@products.each do |product|
			.image
				%img{:src => product.hero_img_url}
			.info
				%span.name= product.name
				%span.brand= product.brand
				%span.price= "$#{product.price}"
			.clr
		%span.edit= link_to "Edit", root_path
	.clr
	%h2 Sharing Options
	.sharing
		= link_to image_tag('fb-share.png'), @share_list
		= link_to "   See your public wishlist", "http://#{request.host}/lists/#{@list.id}"
%a.twitter-share-button{"data-text" => "Checkout my wishlist", :href => "https://twitter.com/share"} Tweet
:javascript
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
