%head
	%meta{:property => "fb:app_id", :content => ENV["FACEBOOK_APP_ID"]}
	%meta{:property => "og:site_name", :content => "ShoMoLove"}
	%meta{:property => "og:type", :content => "smlwishlist:wishlist"}
	%meta{:property => "og:title", :content => @list.category}
	%meta{:property => "og:url", :content => "http://#{request.host}/lists/#{@list.id}"}
	%meta{:property => "og:image", :content => @products.first.hero_img_url}
.wrapper
	%h1 Review Your Wishlist
	.itemscontainer
		-@products.each do |product|
			.image
				%img{:src => product.hero_img_url}
			.info
				%span.name= product.name
				%span.brand= product.brand
				%span.price= "$#{product.price}"
			.clr
		%span.edit= link_to "Edit", root_path
	.clr
	%h2 Where should we send your gifts?
	%form.shipping
		.left
			%label First Name: 
			%br
			%input{:type => "text"}
		.right
			%label Last Name: 
			%br
			%input{:type => "text"}
		.clr
		.left
			%label Address: 
			%br
			%input{:type => "text"}
		.right
			%label City: 
			%br
			%input{:type => "text"}
		.clr
		.left
			%label State: 
			%br
			%input{:type => "text"}
		.right
			%label ZIP Code: 
			%br
			%input{:type => "text"}
		.clr
	.clr
	.sharing
		= link_to "Save", "#{request.protocol}#{request.host_with_port}/lists/#{@list.id}", :class => "save"