%head
	%meta{:property => "fb:app_id", :content => ENV["FACEBOOK_APP_ID"]}
	%meta{:property => "og:site_name", :content => "ShoMoLove"}
	%meta{:property => "og:type", :content => "smlwishlist:wishlist"}
	%meta{:property => "og:title", :content => @list.category}
	%meta{:property => "og:url", :content => "/lists/#{@list.id}"}
	%meta{:property => "og:image", :content => @products.first.hero_img_url}
.wrapper
	%h1 Review Your Wishlist
	.itemscontainer
		-@products.each do |product|
			.image
				%img{:src => product.hero_img_url}
			.info
				%span.name= product.name
				%span.brand= product.brand
				%span.price= "$#{product.price}"
			.clr
		%span.edit= link_to "Edit", root_path
	.clr
	%h2 Sharing Options
	.sharing
		= link_to image_tag('fb-share.png'), @current_user.facebook.put_connections("me", "smlwishlist:create", :wishlist => "http://shomolove.herokuapp.com/lists/#{@list.id}")