.wrapper
	%h1 Review Your Wishlist
	.itemscontainer
		-@products.each do |product|
			.image
				%img{:src => product.hero_img_url}
			.info
				%span.name= product.name
				%span.brand= product.brand
				%span.price= "$#{product.price}"
			.clr
		%span.edit= link_to "Edit", root_path
	.clr
	%h2 Sharing Options
	.sharing
		= link_to image_tag('fb-share.png'), @current_user.facebook.put_connections("me", "smlwishlist:create", :wishlist => "http://samples.ogp.me/502250549791451")