%head
	%meta{:property => "fb:app_id", :content => ENV["FACEBOOK_APP_ID"]}
	%meta{:property => "og:site_name", :content => "ShoMoLove"}
	%meta{:property => "og:type", :content => "smlwishlist:wishlist"}
	%meta{:property => "og:title", :content => @list.category}
	%meta{:property => "og:url", :content => "http://#{request.host}/lists/#{@list.id}"}
	%meta{:property => "og:image", :content => @products.first.hero_img_url}
.wrapper
	%h1 Review Your Wishlist
	.itemscontainer
		-@products.each do |product|
			.image
				%img{:src => product.hero_img_url}
			.info
				%span.name= product.name
				%span.brand= product.brand
				%span.price= "$#{product.price}"
			.clr
		%span.edit= link_to "Edit", root_path
	.clr
	%h2 Where should we send your gifts?
	= form_for :list, :html => {:class => 'shipping'} do |form|
		.left
			%label Full Name: 
			%br
			= form.text_field :full_name
		.right
			%label Phone Number:
			%br
			= form.text_field :phone_number
		.clr
		.left
			%label Address: 
			%br
			= form.text_field :address1
		.right
			%label Address Line 2: 
			%br
			= form.text_field :address2
		.clr
		.left
			%label City: 
			%br
			= form.text_field :city
		.right
			%label State: 
			%br
			= form.text_field :state
		.clr
		.left
			%label ZIP Code: 
			%br
			= form.text_field :zip_code
			%input{:type => "hidden", :value => @list.id, :name => "id"}
		.clr
		= form.submit
	.clr
	.sharing
		- #link_to "Save", "#{request.protocol}#{request.host_with_port}/lists/#{@list.id}", :class => "save"