!!!
%html
  %head
    %title Wishlist
    -if @is_list
      %meta{:property => "fb:app_id", :content => ENV["FACEBOOK_APP_ID"]}
      %meta{:property => "og:site_name", :content => "ShoMoLove"}
      %meta{:property => "og:type", :content => "smlwishlist:wishlist"}
      %meta{:property => "og:title", :content => @list.category}
      %meta{:property => "og:url", :content => "http://#{request.host}/lists/#{@list.id}"}
      %meta{:property => "og:image", :content => @products.first.hero_img_url}
    = stylesheet_link_tag 'application', media: 'all'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen'
    /[if lt IE 9]
      :javascript
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('hgroup');
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://getfirebug.com/firebug-lite.js'
    = csrf_meta_tags
  %body
    = render :partial => "/layouts/login"
    = render :partial => "/layouts/header"
    - if notice or alert
      .notification
        %p.notice= notice
        %p.alert= alert
    = yield
    = render :partial => "/layouts/footer"

